@charset "UTF-8";

*{
/*	box-sizing: border-box;*/
	padding: 0;
	margin: 0;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-size: small;
	margin-right: 20px;
}

.linkblue{
    color: cadetblue;
    font-size: medium;
    text-decoration: underline;	
}

.link{
    text-decoration: underline;
    font-style: italic;	
	font-size: medium;
	margin-right: auto;
}

.address{
	line-height: 1.2;
	margin: auto;
	font-size: xx-small;
}

.blue-cells{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(images/blue-green_cells.png);
}

body{
    font-family: 'Open Sans';
    line-height: 1.6;
    background-color: rgba(0,0,0,1.00);
    color: antiquewhite;
}

.card{
    padding: 10px;
    margin: 8vh;
}

.container{
	max-width: 1000px;
	margin: 0 auto; 
	overflow: auto;
	padding: 0 10px;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.flex-center{
	display: flex;
	justify-content: space-around;
	align-items: center;
	column-gap: 5px;
	height: 100%;
	margin-left: 50px;
}

.footer{
    background-color: black;
    color: antiquewhite;
    height: 120px;
}

.grid{
    display: grid;
	justify-content: center;
	align-items: center;
	width: 90%;
}

h1{
    font-size: xx-large;
    text-align: center;
    padding-bottom: 30px;
/*    letter-spacing: 0.1rem;*/
	color:burlywood;
	font-weight: bold;
}

h2{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: large;
/*    letter-spacing: 0.05rem;*/
    font-weight: lighter;
}

h3{
	text-align: center;
	font-size: xx-large;
	font-weight: lighter;
	width: 100%;
}

.harvard{
	border-right: 1px antiquewhite solid;
}

.hero{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 55vh;
	padding-bottom: 0px;
    background-color: rgba(0,0,0,0.40);
    font-size: 2.5em;
	color: antiquewhite
}

.index-one{
    background-image: url(images/embryo-mosaic_red-cyan-yellow.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: rgba(0,0,0,1.00);
    height: 100vh;
}

.index-two{
    background-image: url(images/blue-orange_cells_background.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
}

.index-two ul{
	justify-content: center;
	align-items: center;
	margin-bottom: 180px;
}

.index-two ul a{
	background-color: rgba(0,0,0,0.6);	
	text-transform: uppercase;
	padding: 1vh 2vw;
	border-radius: 10px;
	border: 1px antiquewhite solid
}

.index-two ul a:hover{
	background-color: rgba(50,50,50,0.8);	
}

.indexcard{
	padding: 40px;
	margin: 15vh;
    background-color: rgba(0,0,0,0.50);
    border-radius: 20px;
}

.inset{
/*    color:darkgray;*/
	margin-top: -10px;
	margin-left: 120px;
    font-style: italic;
}

.last{
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.lefthead{
	padding-top: 5px;
}

.leftpad{
	padding-left: 10px;
}

ul li a{
	font-size: medium;
}

.logo{
	font-weight: 100;
    line-height: 1.2;
    margin-left: 20px;
    font-size: x-large;
	text-align: center;
	color: antiquewhite;
}

.navbar {
    background-color: rgba(0,0,0,0.80);
    color: antiquewhite;
    height: 80px;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	}

.navbar ul a:hover{
	border-bottom: 1px antiquewhite solid;
}

p{
	text-align: left;
	color: antiquewhite;
	padding-top: 10px;
}

.peoplecard{
	padding: 30px 40px 40px 40px;
	margin: 20vh 100px;
    background-color: rgba(0,0,0,0.80);
    border-radius: 20px;
	text-indent: 30px;
}

.pub{
	font-size: small;
	color: burlywood;
}

.pubflex{
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.title{
    color: antiquewhite;
}

.pmid{
    color: cadetblue;
}

.pubcard{
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
}

.pubgrid{
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.publications{
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100vw;
/*    background-image: url(images/LUT-embryos_background.jpg);*/
	min-height: 80vh;
}

.red-embryo{
    background-image: url(images/embryo_red-cyan-notochord.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 800px auto;
    background-color: rgba(0,0,0,1.00);
}

.research{
	text-indent: 30px;
	padding-bottom: 30px;
}

.research-card{
	padding: 40px;
    margin: 20vh 100px;
    background-color: rgba(0,0,0,0.80);
    border-radius: 20px;
}


.start{
	padding-top: 40px;
}

ul{
	list-style-type: none;
	display: flex;
}

.warhol-embryo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    background-image: url(images/LUT-embryos_background.jpg);
}

.warhol-hero{
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    background-image: url(images/LUT-images_hero.jpg);
}

.year{
	display: flex;
	padding-right: 20px;
	font-size: large;
	align-items: flex-start;
	align-content: stretch;
	color: burlywood;
}

.yellow-magenta{
    background-image: url(images/yellow-magenta_cells_background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
