@charset "UTF-8";

*{
/*	box-sizing: border-box;*/
	padding: 0;
	margin: 0;
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 0.9em;
	margin-right: 20px;
}


.address{
	line-height: 1.2;
	margin: auto;
	font-size: 0.9em;
}

.blue-cells{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(images/blue-green_cells.png);
}



body{
    font-family: 'Open Sans';
    line-height: 1.6;
    background-color: rgba(0,0,0,1.00);
    color: antiquewhite;
}

.card{
    margin: 8vh;
}

.container{
	max-width: 1000px;
	margin: 0 auto; 
	overflow: auto;
	padding: 0 10px;
}


.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}


.footer{
    background-color: black;
    color: antiquewhite;
    height: 120px;
}

.grid{
    display: grid;
	justify-content: center;
	align-items: center;
	width:inherit;
/*	padding: 0 2em;*/
}

h1{
    font-size: 2.2em;
    text-align: center;
    padding-bottom: 0.5em;
/*    letter-spacing: 0.1rem;*/
	color:burlywood;
	font-weight: bold;
}

h2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
}

h3{
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	width: 100%;
}

.harvard{
	border-right: 1px antiquewhite solid;
}

.hero{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 45vh;
	padding-bottom: 0px;
    background-color: rgba(0,0,0,0.40);
    font-size: 2.5em;
	color: antiquewhite
}

.index-one{
    background-image: url(images/embryo-mosaic_red-cyan-yellow.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: rgba(0,0,0,1.00);
    height: 95vh;
}

.index-two{
    background-image: url(images/blue-orange_cells_background.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
}

.index-two ul{
	justify-content: center;
	align-items: center;
	margin-bottom: 10em;
}

.index-two ul a{
	background-color: rgba(0,0,0,0.6);	
	text-transform: uppercase;
	padding: 2.5vh 4vw;
	border-radius: 1em;
	border: 1px antiquewhite solid
}

.index-two ul a:hover{
	background-color: rgba(50,50,50,0.8);	
}

.indexcard{
	padding: 3em;
	margin: 15vh;
    background-color: rgba(0,0,0,0.50);
    border-radius: 1em;
}

.inset{
	margin-top: -0.5em;
	margin-left: 7em;
    font-style: italic;
}

.lefthead{
	padding-top: 5px;
}

.leftpad{
	padding-left: 2em;
}


.linkblue{
    color: cadetblue;
    font-size: 1em;
    text-decoration: underline;	
}

.link{
    text-decoration: underline;
    font-style: italic;	
	font-size: 1em;
	margin-right: auto;
}

.linkunder{
    text-decoration: underline;
	font-size: 1em;
	margin-right: auto;
}

.logo{
	font-weight: 100;
    line-height: 1.2;
    margin-left: 20px;
    font-size: x-large;
	text-align: center;
	color: antiquewhite;
}

.navbar {
    background-color: rgba(0,0,0,0.80);
    color: antiquewhite;
    height: 80px;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	}

.navbar ul a:hover{
	border-bottom: 1px antiquewhite solid;
}

p{
	text-align: left;
	color: antiquewhite;
	padding-top: 10px;
}

.peoplecard{
	padding: 3em 3em 3em 3em;
	margin: 10vh 10vw;
    background-color: rgba(0,0,0,0.80);
    border-radius: 20px;
	text-indent: 30px;
}

.pub{
	font-size: small;
	color: burlywood;
}

.pubflex{
	display: flex;
	justify-content: space-between;
	height: 100%;
}


.pmid{
    color: cadetblue;
}

.pubcard{
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
}

.pubgrid{
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.publications{
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100vw;
/*    background-image: url(images/LUT-embryos_background.jpg);*/
	min-height: 80vh;
}

.red-embryo{
    background-image: url(images/embryo_red-cyan-notochord.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 800px auto;
    background-color: rgba(0,0,0,1.00);
}

.research{
	text-indent: 30px;
	padding-bottom: 30px;
}

.research-card{
	padding: 4em;
    margin: 20vh 10vw;
    background-color: rgba(0,0,0,0.80);
    border-radius: 2em;
}

.start{
	padding-top: 40px;
}

.title{
    color: antiquewhite;
}

ul{
	list-style-type: none;
	display: flex;
}

ul li a{
	font-size: 1em;
/*	color: burlywood;*/
}

.warhol-embryo{
    background-repeat: repeat;
    background-position: center;
	height: 80vh;
    background-size: 90vw;
    background-image: url(images/LUT-embryos_background.jpg);
}

.warhol-hero{
    background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    background-image: url(images/LUT-images_hero.jpg);
}

.year{
	display: flex;
	padding-right: 20px;
	font-size: large;
	align-items: flex-start;
	align-content: stretch;
	color: burlywood;
}

.yellow-magenta{
    background-image: url(images/yellow-magenta_cells_background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}



@media (max-width:600px){
	
a{
    text-decoration: none;
    font-size: small;
}

h1{
	font-size: 1.5em;
	font-weight: lighter;
	}
	
h2 {
	font-size: 1em;
}
	
.container{
	max-width: 590px;
	padding: 0 2vw;
	}
	
.indexcard{
	padding: 1em;
	margin: 5vh;
    background-color: rgba(0,0,0,0.50);
    border-radius: 1em;
	}
	
.navbar .container.flex {
	background-color: rgba(10,15,20,1);
    height: 100px;
    position: sticky;
    top: 0;
/*	max-width: 500px;*/
	
	display: grid;
	justify-content:center;
	align-items: center;
	width: auto;
	padding-top:0.5em;
	padding-bottom: 1em;
}
	
.footer .container.flex {
/*	background-color: rgba(10,15,20,1);*/
    color: antiquewhite;
    height: 140px;

	padding-bottom: 2vh;
	margin-top: 5vh;
	
	display: grid;
	justify-content: center;
	align-items: center;
	width: inherit;
	}
	
.research-card {
	padding: 2em;
    margin: 10vh 5vw;
    background-color: rgba(0,0,0,0.80);
    border-radius: 2em;
	font-size: 0.8em;
	line-height: 2em;
}
.leftpad a img {
/*	padding-left: 8vw;*/
	padding-right: -2vw;
	margin-top: 0.5em;
}
	
	.leftpad{
		padding-left: 2em;
	}
	
.container.grid div ul{
	list-style-type: none;
	display: grid;
}

ul li a {
    color: antiquewhite;
}
.container.grid div ul li a {
	list-style-type: none;
    display: grid;
    margin: 0.5em;
    text-align: center;	
}
.warhol-hero {
	margin-top: 1em;
	padding-top: 3em;
}
	
	
}
